pipeline/08_until.json
{
	"name": "08_until",
	"properties": {
		"activities": [
			{
				"name": "Until",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('varinit'),variables('varuntil'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_copydata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varinit",
								"value": {
									"value": "@variables('varincrement')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varincrement",
								"value": {
									"value": "@string(add(int(variables('varinit')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "0.00:00:59"
				}
			}
		],
		"variables": {
			"varuntil": {
				"type": "String",
				"defaultValue": "5"
			},
			"varinit": {
				"type": "String",
				"defaultValue": "1"
			},
			"varincrement": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "till_yesterday"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-02T17:22:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}